body {
    font-family: "Montserrat", sans-serif;
    --c-primary-color: #F2CB07;
    --c-primary-color-desat: rgba(242, 203, 7, 0.70);
    --c-primary-color-hover: rgba(242, 203, 7, 0.30);
    --c-secondary-color: #86C628;
    --c-tertiary-color: #fac375;
}


/* NAVBAR STYLES */

.navbar {
    --bs-navbar-toggler-focus-width: none;
    --bs-navbar-toggler-border-color: none;
    --bs-navbar-toggler-border-radius: 50%;
    /* --bs-navbar-color: var(--c-secondary-color); */
    --bs-navbar-hover-color: var(--c-primary-color);
    /* background-color: var(--c-primary-color) !important; */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.30);
    transition: background-color 0.3s, box-shadow 0.3s;
    
}


.navbar.c-navbar-scrolled {
    background-color: #f8f9fa;
    /* --bs-navbar-toggler-border-color: var(--bs-body-color); */
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.30); */
    /* --bs-navbar-color: var(--bs-header-color); POR DEFECTO SE PUEDE DEJAR VACIO */
}

.navbar.c-navbar-scrolled .c-brand-img {
    height: 3.5rem;
}
/* .navbar.navbar-scrolled .nav-link{ */
    /* color: var(--bs-body-color) */
/* } */

#navContainer {
    transition: all 0.3s;
}

.navbar-toggler {
    padding: 0.5rem;
    transition: background-color 0.2s;
}
.navbar-toggler:hover {
    /* background-color: rgba(0, 0, 0, 0.10); */
    background-color: var(--c-primary-color-hover);
}


/* BRAND LOGO STYLES */

.c-brand-img {
    height: 4rem;
    transition: all 0.3s;
}


/* HERO SECTION STLYES */

.c-header {
    height: 100dvh;
}


        /* MEDIA QUERY HERO SECTION LARGE DEVICE */
@media screen and (width <= 992px) {
    .c-header {
        height: 80dvh; /* ORIGINALMENTE ERA 70DVH */
    }
}

.c-hero {
    height: 100%;
    background-image: url(https://images.pexels.com/photos/696287/pexels-photo-696287.jpeg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.c-hero-overlay {
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.30);
}

@media screen and (width <= 992px) {
    .c-hero-overlay {
        height: 80dvh;
    }
}

.c-h1-span {
    /* background-image: linear-gradient(to bottom, #FFFFFF 35%, #FD9A12 100%); */
    background-image: linear-gradient(to bottom, #0597F2 20%, #F2CB07 60%);
    color: transparent;
    background-clip: text;
    filter: brightness(1.1);
}

.c-h1-span:nth-of-type(2) {
    font-weight: 400;
}

header .btn-light {
    background-color: linear-gradient(to bottom, #0597F2 20%, #F2CB07 60%);
}

header .btn-light:hover {
    border-color: var(--c-primary-color);
    background-color: var(--c-primary-color);
}


/* WHATSAPP BUTTON STYLES */


.c-img-whatsapp {
    width: 5rem;
    filter: drop-shadow(3px 10px 5px rgba(0, 0, 0, 0.30)) brightness(1);
    transition: width 0.5s, filter 0.3s;
}

.c-img-whatsapp:hover {
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.30)) brightness(0.8);
}

/* .c-whatsapp-sidetext { */
    /* border-radius: 50px; */
    /* background-color: #fff; */
    /* color: var(--bs-body-color); */
    /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.40); */
    /* font-size: 0.9rem; */
    /* opacity: 0; */
    /* transition: opacity 0.3s; */
/* } */
/* .c-img-whatsapp:hover + .c-whatsapp-sidetext  { */
    /* opacity: 1; */
    /* color: red; */
/* } */


/* OVERVIEW SECTION STYLES */

.c-overview {
    height: 11.25rem;
    /* background-color: #d3dae1; */
    background-color: var(--c-primary-color-desat);
}

        /* MEDIA QUERY OVERVIEW SECTION LARGE DEVICE */
@media screen and (width <= 992px) {
    .c-overview {
        height: 7rem;
    }
    .c-overview-text {
        font-size: 1.2rem;
    }
}

/* #colorimetria, */
/* #maquillaje { */
    /* background-color: #d3dae13a; */
/* } */


/* FOOTER STYLES */

footer a {
    transition: color 0.3s;
}
footer a:hover {
    color: var(--c-primary-color) !important;
    
}


/* MEDIA QUERIES RESPONSIVE */

/* MEDIA QUERY MEDIUM DEVICE  */
@media screen and (width <= 768px) {
    .c-img-whatsapp {
        width: 4rem;
    }
}


/* PONER OVERLAY OSCURO CON <IMG> Y FILTER BRIGHTNESS, Y REVISAR LINKS HOVER FOOTER */
/* 5: AJUSTAR PALETA DE COLORES */
/* 7: LIMPIAR HOJA CSS */
            /* LISTO --  8: REVISAR PADDINGS DE LAS SECCIONES Y TITULOS YA QUE NO NAVEGA CORRECTAMENTE CON LOS IDS CUANDO ESTA EN MOBILE DEVICE */
            /* LISTO -- 6: CAMBIAR TEXTOS DE HERO */
            /* LISTO -- 3: COLOCAR IMAGENES CON SRC Y UN TAMAÑO PARA DISPOSITIVOS MOVIVLES PARA QUE NO DE DISTORISIONEN LAS IMAGENES */
            /* LISTO -- 1: CAMBIAR NAV POR OFFCANVAS NAVAR Y AJUSTAR HOVER DE LINKS*/
            /* LISTO -- 2: ARMAR FOOTER (VER DISEÑOS DE FOOTERS EN YOUTUBE) */ 
            /* LISTO -- 4: AGREGAR BOTON DE WHATSAPP */
            /* LISTO -- CONVERTIR EL NAVBAR SEMITRANSPARENTE Y SOLO ANIMAR PADDING Y LISTO */










/* .navbar { */
    /* --bs-navbar-toggler-focus-width: none; */
    /* --bs-navbar-toggler-transition: box-shadow .15s ease-in-out; */
    /* --bs-navbar-color: #f8f9fa; TENIA ORIGINALMENT #F6F6F6FF */
    /* background-color: #f6f6f622; */
    /* --bs-navbar-toggler-icon-bg: blue; */
    /* --bs-navbar-toggler-font-size: 15rem; */
/* } */

/* .navbar-nav { */
    /* --bs-nav-link-color: #f00; */
    /* --bs-nav-link-hover-color: #00f; */
/* } */

/* .navbar-collapse.collapse.show { */
    /* background-color: #f6f6f622; */
/* } */


/* @media screen and (width <= 991px) { */
    /* .navbar { */
        /* background-color: #fff6; */
        /* --bs-navbar-color: #222; */
    /* } */
/* } */


/* .c-item-hero { */
    /*PARA CONVERTIRLO EN HERO height: calc(100dvh - 56px); */
    /* height: 100dvh; */
/* } */
/* .c-img-hero { */
    /* height: 100%; */
    /* object-fit: cover; PARA CONSERVAR EL ASPECT RATIO DE LA IMG */
    /* filter: brightness(0.6); */
/* } */



/* .c-item { */
    /* height: 80dvh; */
/* } */
/* .c-img { */
    /* height: 100%; */
    /* object-fit: cover; */
/* } */


/* MEDIA QUERY  SMALL DEVICE  */
/* @media screen and (width <= 576px) { */
    /* .c-img-whatsapp { */
        /* width: 4rem; */
    /* } */
/* } */
/*  */


